* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
.blue {
  background: linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
}
.bluex {
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}
.zhengti {
  /* 百分百浏览器可视宽度 */
  width: 100vw;
  /* 百分百最大宽度，防止出现横向滚动条 */
  max-width: 100%;
  height: 100vh;
  /* 网格布局 */
  display: grid;
  /* 1fr：自适应 */
  grid-template-rows: 50px 1fr 50px;
}
.img_logo {
  width: 40px;
  height: 40px;
}
.mingzi {
  margin-left: 5px;
  color: #fff;
}
header,
main,
footer {
  padding: 0px 10vw;
}
header {
  display: grid;
  /* max-content：空间随内容变化 */
  grid-template-columns: max-content 1fr;
  align-items: center;
  z-index: 1;
}

.nav {
  display: flex;
  /* 元素间距 */
  gap: 50px;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}
.navlist a {
  color: #000;
  display: block;
}
.nav ul > li ul {
  /* 将二级菜单的Y轴设置为0 */
  transform: scaleY(0);
  transition: 0.2s;
  /* 设置Y轴变形的中心点 */
  transform-origin: 50% 0;
}
.nav ul > li:hover ul {
  transform: scaleY(1);
}
.navlist a:hover {
  background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}
.list {
  float: left;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.list_list {
  border-radius: 8px;
}
.list_list li {
  border-top: 1px solid #fff;
}
main {
  background: url(./img/daxue.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
footer {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}
.main-top {
  margin: 10px auto;
  position: absolute;
  width: 80vw;
  height: 400px;
  background-color: #12d8fa;
  border-radius: 10px;
}
.neirong {
  position: relative;
  margin: 35px auto;
  width: 600px;
  height: 330px;
  overflow: hidden;
  border-radius: 10px;
}
.tu {
  width: calc(600px * 5);
  /* 定义动画，名称，时间，速度，重复样式：无限 */
  animation: bo 30s linear infinite;
}
.tu img {
  /* 清除默认样式的边距（此边距无法通过样式改变） */
  float: left;
  width: 600px;
  height: 330px;
}
@keyframes bo {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(-600px);
  }
  25% {
    transform: translateX(-600px);
  }
  30% {
    transform: translateX(-1200px);
  }
  50% {
    transform: translateX(-1200px);
  }
  55% {
    transform: translateX(-1800px);
  }
  75% {
    transform: translateX(-1800px);
  }
  80% {
    transform: translateX(-2400px);
  }
  100% {
    transform: translateX(-2400px);
  }
}
