* {
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
header,
section,
footer {
  width: 1000px;
  margin: 0 auto;
  background-color: #ffc0cb;
}
header,
footer {
  height: 80px;
}
section {
  margin: 20px auto;
  overflow: hidden;
}
section > div {
  float: left;
  background-color: #ccc;
}
.left {
  width: 680px;
  margin-right: 20px;
}
.left > div {
  height: 200px;
  background-color: green;
}
.left > div:nth-child(-n + 2) {
  margin-bottom: 20px;
}
.left_one > div {
  float: left;
  height: 100%;
  background-color: green;
}
.left_one_1 {
  width: 180px;
}
.left_one_2 {
  width: 480px;
  margin-left: 20px;
}
.right {
  width: 300px;
}
.right > div {
  height: 150px;
  background-color: green;
}
.right > div:nth-child(-n + 3) {
  margin-bottom: 20px;
}
div {
  border-radius: 10px;
}
